---
import { Icon } from 'astro-icon/components';
interface Props { loggedin?: boolean; }
const { loggedin = false } = Astro.props;
---
<form action="/api/auth/signin" method="POST" class="bg-secondary/80 text-secondary-foreground hover:bg-secondary/85 h-full max-w-64">
  <input type="hidden" name="provider" value="google" />
  <button type="submit" class="flex items-center gap-2 h-full px-4 py-2 cursor-pointer">
    <Icon name="devicon:google" size="1.75rem" class="p-1 rounded-full bg-white"/>
    <span class="hidden xl:block text-xl font-bold">Iniciar sesión</span>
  </button>
</form>
