---
import HowItsWorks from 'sections/HowItsWorks.astro';
import Header from '../components/layout/Header.astro';
import Features from '../sections/Features.astro';
import Hero from '../sections/Hero.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-background text-foreground font-space-grotesk">
    <Header />
    <main class="[&>section]:first-of-type:pt-16">
      <Hero />
      <Features />
      <HowItsWorks />
    </main>
  </body>
</html>
